<footer class="foot" style="background-color:#33ACE2;">
    <div class="container">
      <div class="row align-items-center p-5" style="color:white">
        <div class="col text-center">
          <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
          <p>Tel: 3144552610</p>
          <p>Isla Trapani #2807, Guadalajara, Jalisco.</p>
          <p>Posted by: franciscomedinaag@gmail.com</p>
        </div>
        
      </div>
    </div>
    
</footer>

