@import "~@ng-select/ng-select/themes/default.theme.css";
.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}

.titulo:hover{
    opacity:75%
}

.edit:hover{
    opacity:75%
}

.reabrir:hover{
    opacity:60%;
}

h3:hover{
    opacity:60%
}

.tit:hover{
    opacity: 50%;
}

.tit{
    color:#33ACE2;
}

.smallText{
    font-size: small;
}