<app-navbar-crm></app-navbar-crm>

<div class="container" style="background-color: white;">
    <div class="row pt-4 pb-4">

        <div class="col-sm-4">        
            <h2 *ngIf="showAct" class="text-center">Vendedores Activos </h2>
            <h2 *ngIf="!showAct" class="text-center">Vendedores Inactivos</h2>
        </div>
        <div class="col-sm-4 text-center">
          <button *ngIf="showAct" (click)="vista(false)" class="btn active btn-secondary">Ver inactivos</button>
          <button *ngIf="!showAct" (click)="vista(true)" class="btn active btn-primary">Ver activos</button>
        </div>
        <div class="col-sm-4" *ngIf="showAct">
          <h4 *ngIf="showMeta" class="text-center" style="color:rgb(112, 151, 38)" (dblclick)="showMeta=!showMeta" >
            Meta bimestral: {{admin.meta.toLocaleString("en")}}
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </h4>
          <input *ngIf="!showMeta" type="text" [(ngModel)]="admin.meta" (blur)="showMeta=!showMeta;assign(admin)">
        </div>

    </div>
    <div class="row">
      <div class="table-responsive">
            <table class="table lista">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Monto</th>
                    <th scope="col" class="text-center">Informe</th>
                    <th scope="col">Datos</th>
                    <th *ngIf="showAct" class="text-center" scope="col">Desactivar</th>
                    <th *ngIf="!showAct" class="text-center" scope="col">Activar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of vendedores; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{a.username}}</td>
                    <td>calculo</td>
                    <td class="text-center"><a [routerLink]="['/informesven',a.id]">Ver</a> </td>
                    <td><a [routerLink]="['/miperfil',a.id]">Perfil</a></td>
                    <td *ngIf="showAct" class="text-center" (click)="changeState(a,false)"><i class="fa fa-window-close-o" aria-hidden="true"></i></td>
                    <td *ngIf="!showAct" class="text-center" (click)="changeState(a,true)"><i class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                  </tr>
                </tbody>
            </table>
          </div>
    </div>
</div>

<app-footer-crm></app-footer-crm>