<app-navbar-crm></app-navbar-crm>
<div class="container-fluid" style="background-color: white;">
<header>
    <div class="row">
        <div style="background-color: crimson;" class="col-sm-12 head">
            header
        </div>
    </div>
</header>
<content>
    <div class="row mid ">
        <div style="background-color: blue;" class="col-sm-8">
            contenido
        </div>
        <div style="background-color: blueviolet;" class="col-sm-4">
            sidenav
        </div>
    </div>
</content>
<footer>

    <div class="row foot pb-3">
        <article style="background-color: yellow;" class="col-sm-4">
            footer1
        </article>
        <article style="background-color: orange;" class="col-sm-4">
            footer2
        </article>
        <article style="background-color: orangered;" class="col-sm-4">
            footer3
        </article>
    </div>

</footer>
</div>
<app-footer-crm></app-footer-crm>