<app-navbar-website></app-navbar-website>
<div class="container" style="background-color: white;">
    <div class="row pb-4" style="height: 40vh; background-image: url(assets/default/contacto.jpg);  object-fit: fill;">
        <div class="col">
        </div>
    </div>
    <div class="row pt-4 pb-4">   
        <div class="col">
            <here-map appId="4Eu2BEKYzOr78ondIsmf" appCode="4l9dJTUpEj2pSQNyRNj4G9jfOWrX-0nEKIRQZ2GbcFs" 
            lat="20.7029869" lng="-103.3914308" width="100%" height="500px"></here-map>
        </div>
    </div>
</div>
<app-footer-website></app-footer-website>