<app-navbar-crm></app-navbar-crm>
<div class="container" style="background-color: white;">
    <div class="row pt-4 pb-3 align-text-center">
        <div class="col-sm-5 text-center">
            <h2 style="font-weight: bold; color:rgb(150, 150, 150); cursor:default;">{{client.nombre}}</h2>
        </div>
        <div class="col-sm-2 pt-2 text-center">
            <p *ngIf="client.frecuente" class="text-center" style="color:darkgoldenrod; font-weight: bold;">
                Cliente frecuente
              </p>   
        </div>
        <div class="col-sm-2 pt-2 text-center">
            <span *ngIf="anti" class="text-center" style="color:grey; font-size: small;">
                Antigüedad: {{antiquity}}
              </span>   
        </div>
        <div class="col-sm-3 text-center">
            <button class="btn sender btn-primary" data-toggle="modal" data-target="#sendModal"> Mandar Correo </button> 
        </div>
    </div>

    <div class="row  pb-5 pl-3 pr-3 text-start">
        <div class="col-sm-5">
            <div class="card text-white bg-secondary mb-3" style=" padding:5%; min-width: 18rem;">
            <div class="row">
                <div class="col">
                    <span *ngIf="neg" (click)="neg=!neg"><strong>Tipo de cliente:  </strong> {{client.negociacion}} 
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </span>
                    <ng-select class="custom"
                    [items]="negociaciones"
                    [multiple]="false"
                    [(ngModel)]="client.negociacion"
                    name="estado"
                    *ngIf="!neg"
                    (change)="neg=!neg;validate(client.negociacion)"
                    placeholder="Tipo de Cliente">
                    </ng-select> 
                </div>
            </div>
            <div *ngIf="client.negociacion!='Residencial'">
                <div class="row">
                    <div class="col">
                        <span *ngIf="emp" (click)="emp=!emp"><strong>Empresa:  </strong> {{client.empresa}} <i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <input class="text-center" *ngIf="!emp" type="text" [(ngModel)]="client.empresa" 
                        (blur)="emp=!emp;validate(client.empresa)">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span *ngIf="gir" (click)="gir=!gir"><strong>Giro de la empresa:  </strong> {{client.giro}} <i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <input class="text-center" *ngIf="!gir" type="text" [(ngModel)]="client.giro" 
                        (blur)="gir=!gir;validate(client.giro)">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span *ngIf="pue" (click)="pue=!pue"><strong>Puesto:  </strong> {{client.puesto}} <i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <input class="text-center" *ngIf="!pue" type="text" [(ngModel)]="client.puesto" 
                        (blur)="pue=!pue;validate(client.puesto)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span *ngIf="ema" (click)="ema=!ema"><strong>Email:  </strong> {{client.email}} <i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <input class="text-center" *ngIf="!ema" type="text" [(ngModel)]="client.email" 
                        (blur)="ema=!ema;validate(client.email)">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span *ngIf="est" (click)="est=!est"><strong>Estado:  </strong> {{client.estado}} 
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </span>
                    <ng-select class="custom"
                    [items]="estados"
                    [multiple]="false"
                    [(ngModel)]="client.estado"
                    name="estado"
                    *ngIf="!est"
                    (change)="est=!est;validate(client.estado)"
                    placeholder="Estado de residencia">
                    </ng-select> 
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>Cliente   {{client.real?"real":"potencial"}} </strong>
                </div>
            </div>
            </div>

            <div *ngIf="client.mensajes.length>0">
              <h4 style="color:#33ACE2;font-weight: bold;">Mensajes desde sitio web: </h4>
              <ul>
                <li *ngFor="let m of client.mensajes">
                  {{m.mensaje}} / {{m.fecha.split('T')[0]}}
                </li>
              </ul>
            </div>

        </div>
        <div class="col-sm-4 "  >
          <h4 class="text-center" style="color:#33ACE2;font-weight: bold;">Historial: </h4>
          <ul>
            <li  *ngFor="let h of historial" >
              {{h.titulo}} <br> <span style="color:#33ACE2;">{{h.fechaFin | date:'shortDate'}}</span>
            </li>
          </ul>

        </div>
        <div class="col-sm-3 " >
            <h4  style="color:#33ACE2;font-weight: bold;"  data-toggle="modal" data-target="#addNote">Notas: <small style="font-size: small;"> (Agregar) </small></h4>           
            <ul>
                <li *ngFor="let n of client.notas"  class="text-start" >
                  <span [className]="n.nota.length>=27 ? 'text-primary' : ' '"> 
                    <span data-toggle="modal" data-target="#seeNote" (click)="nota=n.nota" >{{n.nota.length>=27 ? '(Ver nota)' : n.nota}}</span> <i (click)="deleteNote(n.id)" class="fa fa-minus-circle fa-sm" aria-hidden="true"></i>
                  </span>
                  <br>
                </li>
            </ul>

            <h4  style="color:#33ACE2;font-weight: bold;">Tratos: </h4>
            <ul>
                <li  *ngFor="let t of client.tratos" >
                    <a [routerLink]="['/fichatrato',t.id]">{{t.nombre}}</a>
                </li>
            </ul> 
        </div>
    </div>
</div>
<app-footer-crm></app-footer-crm>



<div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Crear nota del cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">    
            <form class="form-product">             
              <div class="form-group">
                <textarea  [(ngModel)]="note.nota" name="text" type="textarea" rows="3" class="form-control" id="text" placeholder="Añada su texto aquí..."></textarea>
              </div>           
            </form>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="createNote(note)" data-dismiss="modal"  class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Redactar correo
            <span *ngIf="sending" style="color:gray; margin-left: 80% !important" >Enviando<i  class="fa-li fa fa-spinner fa-spin ml-5"></i></span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
       
            <form class="form-product">
              <div class="form-group">
                <label for="nombre">Asunto: </label>
                <input  [(ngModel)]="data.subject" name="subject" type="text" class="form-control" id="subject" placeholder="Ingresar el asunto">
              </div>  
              <div class="form-group">
                <label for="nombre">Texto: </label>
                <textarea  [(ngModel)]="data.text" name="text" type="textarea" rows="3" class="form-control" id="text" placeholder="Añada su texto aquí..."></textarea>
              </div>
            

              <p>Adjuntar:</p>

              <button class="btn btn-primary" (click)="cat=true">Catálogos</button>
              <button class="ml-3 btn btn-primary" (click)="cat=false">Archivo</button>

              <div *ngIf="cat" class="form-group">
                Mandar Catalogo:
                <ng-select class="custom"
                [items]="catalogos"
                [multiple]="false"
                [(ngModel)]="attachment"
                bindValue="file"
                bindLabel="nombre"
                name="cat"
                placeholder="Seleccionar clientes">
                </ng-select> 
              </div>

              <div *ngIf="cat==false" class="form-group">
                <template-file-chooser [fileType] ="'sendDocs'" [extensionFilter]="'image/*'" (onChange)="selectImageOrder($event)"></template-file-chooser> 
              </div>
            </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="sendMail(data)" data-dismiss="modal" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="seeNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Nota del cliente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">    
            {{nota}} 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>