<app-navbar-crm></app-navbar-crm>
<div class="container" style="background-color: white;">
    <div class="row pb-4 pt-4">
        <div class="col text-center">
            <h2 style="font-weight: bold; color:rgb(150, 150, 150);">Cotización numero {{cotNumber}} del trato {{trato.nombre}}</h2>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-sm-4 text-center">
            <button class="btn mt-1 btn-primary">Agregar producto</button>
        </div>
        <div class="col-sm-4 text-center">
            <button class="btn mt-1 btn-secondary">Solicitar al administrador</button>
        </div>
        <div class="col-sm-4 text-center">
            <button class="btn mt-1 btn-primary">Conceptos</button>
        </div>
    </div>
</div>
<app-footer-crm></app-footer-crm>