<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #33ACE2">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/default/white-logo.png" alt="COR" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"  routerLinkActive="active" style="color:white;">
        <li class="nav-item ">
          <a class="nav-link" routerLink="inicio">Inicio </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Muebles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="getTitulo(1)" [routerLink]="['/muebles', 1]">Escritorios</a>
            <a class="dropdown-item" (click)="getTitulo(2)" [routerLink]="['/muebles', 2]">Sillas</a>
            <a class="dropdown-item" (click)="getTitulo(3)" [routerLink]="['/muebles', 3]">Peninsulas</a>
            <a class="dropdown-item" (click)="getTitulo(4)" [routerLink]="['/muebles', 4]">Cocinas Integrales</a>
            <a class="dropdown-item" (click)="getTitulo(5)" [routerLink]="['/muebles', 5]">Archiveros</a>
            <a class="dropdown-item" (click)="getTitulo(6)" [routerLink]="['/muebles', 6]">Ejecutivos</a>
            <a class="dropdown-item" (click)="getTitulo(7)" [routerLink]="['/muebles', 7]">Estantes</a>
            <a class="dropdown-item" (click)="getTitulo(8)" [routerLink]="['/muebles', 8]">Butacas</a>
            <a class="dropdown-item" (click)="getTitulo(9)" [routerLink]="['/muebles', 9]">Otros</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/contacto']">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/nosotros']">Nosotros</a>
        </li>
        <li class="pt-2 pl-5" style="width: 30px">    
          <a class="nav-link" href="https://www.facebook.com/mueblescor/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
