<app-navbar-crm></app-navbar-crm>
<div class="container" style="background-color: white;">
    <div class="row pt-5">
        <div class="col-sm-6 text-center">
            <h4 *ngIf="pass" (click)="pass=!pass" >Cambiar contraseña <i class="fa fa-pencil" aria-hidden="true"></i></h4>
            <p *ngIf="!pass" >Ingresa la nueva contraseña: <br><input [(ngModel)]="pass1" class="mt-2"  type="password"></p>
            <p *ngIf="!pass" >Ingresala de nuevo: <br><input [(ngModel)]="pass2" class="mt-2"  type="password"></p>
            <br>
            <button *ngIf="!pass" class="btn btn-primary btn-sm " (click)="pass=!pass; validatePass(pass1,pass2)">Cambiar</button>
        </div>
        <div class="col-sm-6 text-center">
            <h3 class="text-center" *ngIf="user" (click)="user=!user">{{usuario.username}} <i class="fa fa-pencil" aria-hidden="true"></i> </h3>
            <input class="text-center" *ngIf="!user" type="text" [(ngModel)]="usuario.username" (blur)="user=!user;assign(usuario)">
        </div>
    </div>
    <div class="row pb-3">
        <div class="col text-center">
            <button type="button" class="btn ml-3 btn-primary">Cantidad tratos</button>
            <button type="button" class="btn ml-3 btn-secondary">Estado actual</button>
            <button type="button" class="btn ml-3 btn-primary">Monto vendido</button>
            <button type="button" class="btn ml-3 btn-secondary">Encuesta perdidos</button>
            <button type="button" class="btn ml-3 btn-primary">Encuesta finalizados</button>
            <button type="button" class="btn ml-3 btn-secondary">Cotizaciones</button>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
    </div>
</div>
<app-footer-crm></app-footer-crm>
