<app-navbar-crm></app-navbar-crm>
<div class="container" style="background-color: white;">
    <div class="row pb-5 pt-5">
        <div class="col-sm-6 text-center">
            <h4 *ngIf="pass" (click)="pass=!pass" >Cambiar contraseña <i class="fa fa-pencil" aria-hidden="true"></i></h4>
            <p *ngIf="!pass" >Ingresa la nueva contraseña: <br><input [(ngModel)]="pass1" class="mt-2"  type="password"></p>
            <p *ngIf="!pass" >Ingresala de nuevo: <br><input [(ngModel)]="pass2" class="mt-2"  type="password"></p>
            <br>
            <button *ngIf="!pass" class="btn btn-primary btn-sm " (click)="pass=!pass; validatePass(pass1,pass2)">Cambiar</button>
        </div>
        <div class="col-sm-6 text-center">
            <h3 class="text-center" *ngIf="user" (click)="user=!user">{{usuario.username}} <i class="fa fa-pencil" aria-hidden="true"></i> </h3>
            <input class="text-center" *ngIf="!user" type="text" [(ngModel)]="usuario.username" (blur)="user=!user;assign(usuario)">
        </div>
    </div>
    <div class="row pb-4">
        graficotas ahuevo
    </div>
</div>
<app-footer-crm></app-footer-crm>
