<app-navbar-website></app-navbar-website>
<div class="container" style="background-color: white;">
<div class="row ">
    <div class="col my-3">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li *ngFor="let c of carrusels; let i=index" data-target="#carouselExampleIndicators" data-slide-to="i+1"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" height="401" src='assets/default/fondo-login.jpg' class="card-img-top" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5>Bienvenido al sitio web</h5>
                     <p>Conocenos y dejanos ser parte de tu empresa</p>
                    </div>
                  </div>

                  <div *ngFor="let c of carrusels; let i = index" class="carousel-item" >
                    <img class="d-block w-100" height="401" [src]="api.baseURL+c.imagen"  onerror="this.src='assets/default/producto-default.jpg'" class="card-img-top" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <h5  >{{c.titulo}}</h5>
                    <p>{{c.subtitulo}}</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
        </div>

    </div>
</div>

<div class="row align-items-center pb-3">
  <div class="col-sm-6 text-justify">
    <h2 class="text-center">Bienvenido a COR Muebles</h2>
    <p class="px-5">{{sitio.textoInicio}}</p>
  </div>
  <div class="col-sm-6">
    <img class="producto" [src]="api.baseURL+sitio.imagenInicio" width="100" height="300" onerror="this.src='assets/default/producto-default.jpg'" class="card-img-top" alt="...">
  </div>
</div>
</div>
<app-footer-website></app-footer-website>