@import "~@ng-select/ng-select/themes/default.theme.css";
.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}
.btn{
    width: 120px;
    margin:5px;
}

.rowColor{
    background-color: rgb(218, 175, 68);
}

.fa-spinner, .mx-5 {
    margin-left: 75% !important;
    margin-top: 10%;
}
