<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #33ACE2">
    <a class="navbar-brand" href="#">
      <img src="assets/logo-blanco.png" alt="COR" width="30" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"  routerLinkActive="active" style="color:white;">
        <li class="nav-item ">
          <a class="nav-link" routerLink="inicio">Clientes </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " routerLink="#">Tratos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="#">Subtareas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="onLogout()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
