<app-navbar-crm></app-navbar-crm>
<div class="container" style="background-color: white;">
    <div class="row pb-5 align-items-center">
        <div  class="col-sm-6 mt-3 text-center">
            <h3 style="font-weight: bold; color:rgb(150, 150, 150);" class="text-center" *ngIf="user" (click)="user=!user">{{usuario.username}} <i class="fa fa-pencil" aria-hidden="true"></i> </h3>
            <input class="text-center" *ngIf="!user" type="text" [(ngModel)]="usuario.username" (blur)="user=!user;assign(usuario)">
            <img class="foto-perfil" *ngIf="img" [src]="api.baseURL+usuario?.imagen"
             (click)="img=!img" onerror="this.src='assets/default/user.png'" alt="">
            <template-file-chooser *ngIf="!img" [fileType] ="'profileImages'" [extensionFilter]="'image/*'" (onChange)="selectImageOrder($event)"></template-file-chooser> 
        </div>
        <div class="col-sm-6 text-center mt-3 pt-5">
            <div class="card text-center text-white bg-secondary mb-3" 
            style="max-width: 18rem; margin-left: 15%; margin-right: 15%;">
                <div class="card-header">Información</div>
                <div class="card-body">
                    <p *ngIf="tel" (click)="tel=!tel">{{usuario.telefono}} <i class="fa fa-pencil" aria-hidden="true"></i></p>
                    <input *ngIf="!tel" type="text" [(ngModel)]="usuario.telefono" (blur)="tel=!tel;assign(usuario)">

                    <p *ngIf="mail" (click)="mail=!mail">{{usuario.email}} <i class="fa fa-pencil" aria-hidden="true"></i></p>
                    <input *ngIf="!mail" type="text" [(ngModel)]="usuario.email" (blur)="mail=!mail;assign(usuario)">

                    <p *ngIf="pass" (click)="pass=!pass" >Cambiar contraseña <i class="fa fa-pencil" aria-hidden="true"></i></p>
                    <p *ngIf="!pass" >Ingresa la nueva contraseña: <br><input [(ngModel)]="pass1" class="mt-2"  type="password"></p>
                    <p *ngIf="!pass" >Ingresala de nuevo: <br><input [(ngModel)]="pass2" class="mt-2"  type="password"></p>
                        <br>
                    <button *ngIf="!pass" class="btn btn-primary btn-sm " (click)="pass=!pass; validatePass(pass1,pass2)">Cambiar</button>

                </div>
            </div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col text-center">
            <button type="button" (click)="this.getChartData(1)" class="btn ml-3 btn-primary">Cantidad tratos</button>
            <button type="button" (click)="this.getChartData(2)" class="btn ml-3 btn-secondary">Estado actual</button>
            <button type="button" (click)="this.getChartData(3)" class="btn ml-3 btn-primary">Monto vendido</button>
            <button type="button" (click)="this.getChartData(4)" class="btn ml-3 btn-secondary">Cerrados</button>
            <button type="button" (click)="this.getChartData(5)" class="btn ml-3 btn-primary">Perdidos</button>
            <button type="button" (click)="this.getChartData(6)" class="btn ml-3 btn-secondary">Cotizaciones</button>
        </div>
    </div>
    <div class="row pb-5 pt-5">
        <div class="col">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
    </div>
    <div *ngIf="showCats" class="row pb-3">
        <div class="col text-center">
            <div class="text-center card" style="margin-left: 35%; margin-right: 50%; width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li *ngFor="let c of categorias" class="list-group-item">
                      <span style="font-size: small;">{{c.id}} - <strong>{{c.nombre}}</strong></span>
                    </li>
                </ul>
              </div>
        </div>
    </div>
    <div *ngIf="showComents" class="row pb-5 ">
        <div class="col-sm-6 text-center">
            <div class="text-center card" style=" width: 18rem;">
                <ul class="list-group list-group-flush">
                <li><strong> Otros motivos de ventas </strong></li>
                  <li *ngFor="let o of otros" class="list-group-item">
                      <span style="font-size: small;">{{o}} </span>
                 </li>
                </ul>
              </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="text-center card" style=" width: 18rem;">
                <ul class="list-group list-group-flush">
                <li><strong> Comentarios y sugerencias </strong></li>
                  <li *ngFor="let c of comentarios" class="list-group-item">
                      <span style="font-size: small;">{{c}} </span>
                 </li>
                </ul>
              </div>
        </div>
    </div>
</div>
<app-footer-crm></app-footer-crm>

