<div class="wrapper fadeInDown" style="background-image: url(../../../assets/default/fondo-login.jpg);">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/default/white-logo.png" class="icon" alt="COR Muebles" />
      </div>
  
      <!-- Login Form -->
      <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
        
              <input type="email" id="email" class="fadeIn second" name="email" [(ngModel)]="user.email" placeholder="Correo electrónico"> 
              <input type="password" id="password" [(ngModel)]="user.password" class="fadeIn third mb-3" name="login" placeholder="Contraseña">
         
        <input type="submit" class="fadeIn fourth" value="Entrar">
      </form>
  
      <!-- Remind Passowrd -->
      <!-- <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div> -->
  
    </div>
  </div>